* {
  box-sizing: border-box;
}

#headshot-img {
  width: 100%;
}

body {
  /* max-width: 1240px; */
  margin: auto;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e4e4e4' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

header,
footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e4e4e4' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
  color: white;
  background-color: #997716;
  border: 1px solid black;
}

#content {
  position: static;
  margin-left: 25px;
}

footer {
  padding-bottom: 25px;
  padding-top: 25px;
}

aside {
  line-height: 65px;
  width: 30%;
  height: 100px;
  margin-top: -150px;
  padding-left: 10px;
  float: right;
  box-shadow: inset 5px 0px 5px -2px black;
  font-style: italic;
  color: black;
}

nav {
  width: auto;
  color: white;
  background-color: #997716;
  border: 1px solid black;
}

.list-menu {
  background-color: #333;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-menu li {
  font-size: 20px;
  display: inline-flex;
  text-align: center;
}

li a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:visited {
  color: white;
}

.introMeLine {
  color: white;
  width: 500px;
}

.rowSkillsInt {
  display: flex;
  justify-content: space-around;

}

.column {
  margin-left: 0px;
  margin-right: 0px;
  width: 30%;
}

/* Heading fonts etc */

#menu-heading {
  text-align: center;
  margin: 10px;
  text-shadow: black 1px 1px 1px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  text-shadow: black 1px 1px 1px;

}

#contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: -10px;
  text-shadow: black 1px 1px 1px;
}

.digitalResume {
  font-size: 20px;
  text-shadow: black 1px 1px 1px;
}

.softwarestudent {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-top: -15px;
  text-shadow: black 1px 1px 1px;
}

.introMeText {
  font-size: 17px;
  padding-left: 50px;
  padding-right: 50px;
  font-style: oblique;
  text-shadow: black 1px 1px 1px;
}

.exp-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 32px;

}

#skills {
  display: flex;
  justify-content: space-around;
  font-size: 29px;
}

.dateDurationText {
  align-self: center;
  font-size: 13px;
  background-color: #ddd;
  border: 1px solid;
  border-color: rgb(112, 112, 112);
  color: black;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 16px;
}

h3 {
  font-size: 26px;
}

.workHeadingDuration {
  margin-bottom: -25px;
  width: fit-content;
  display: flex;
  gap: 20px;
  align-self: flex-end;

}

.titleRole {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 30px;
  border: 3px solid black;
  width: fit-content;
  padding: 5px;
}

.titleRole:hover {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #997716;
  color: white;
  margin-left: 30px;
  border: 3px solid black;
  width: fit-content;
  padding: 5px;
}

.skillsLeft {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}