* {
  box-sizing: border-box;
}

#justinImage {
  max-width: 100%;
  height: auto;
}

.mainBody {
  max-width: 1240px;
  margin: auto;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e4e4e4' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

.header,
.footer {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23e4e4e4' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
  text-align: center;
  color: white;
  background-color: #997716;
  border: 1px solid black;
}

.roleContainer {
  display: flex;
}

#content {
  margin-left: 30px;
}

.footer {
  padding-bottom: 25px;
  padding-top: 25px;
}

nav {
  width: auto;
  color: white;
  background-color: #997716;
  border: 1px solid black;
}

.list-menu {
  background-color: #333;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list-menu li {
  font-size: 20px;
  display: inline-flex;
  text-align: center;
}

li a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

li a:visited {
  color: white;
}

.introMeLine {
  color: white;
  width: 80%;
}

.bodyLine2 {
  width: 80%;
}

.rowSkillsInt {
  display: flex;
  justify-content: space-around;
}

.column {
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
}

.socialIconContainer {
  display: flex;
  justify-content: center;
}

#githubIcon {
  margin-left: 35px;
  margin-right: 35px;
}

/* Heading fonts etc */

#menu-heading {
  text-align: center;
  margin: 10px;
  text-shadow: black 1px 1px 1px;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  text-shadow: black 1px 1px 1px;

}

#contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: -10px;
  text-shadow: black 1px 1px 1px;
}

.digitalResume {
  font-size: 20px;
  text-shadow: black 1px 1px 1px;
}

.softwarestudent {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin-top: -15px;
  text-shadow: black 1px 1px 1px;
}

.introMeText {
  font-size: 17px;
  padding-left: 50px;
  padding-right: 50px;
  font-style: oblique;
  text-shadow: black 1px 1px 1px;
}

.exp-heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 32px;

}

#skills {
  display: flex;
  justify-content: space-around;
  font-size: 29px;
}

.dateDurationText {
  align-self: center;
  font-size: 13px;
  background-color: #ddd;
  border: 1px solid;
  border-color: rgb(112, 112, 112);
  color: black;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 16px;
}

h3 {
  font-size: 26px;
}

.workHeadingDuration {
  width: fit-content;
  display: flex;
  gap: 20px;
}

.titleRole {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 0px;
  border: 3px solid black;
  width: fit-content;
  padding: 5px;
}

.titleRole:hover {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #997716;
  color: white;
  border: 3px solid black;
  width: fit-content;
  padding: 5px;
}

.skillsLeft {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.skillPara {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  padding-right: 20px;
  padding: 20px;
}

/* Media queries for responsive design */

/* Small devices (437px and below) */
@media (max-width: 437px) {
  .workHeadingDuration {
    flex-flow: column wrap;
  }

  #content {
    margin-left: 0px;
  }

  .roleContainer {
    justify-content: center;
  }

  .titleRole:hover {
    margin-left: 0;
  }

  .keyResponsi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Cochin, Georgia, Times, 'Times New Roman', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }
}

/* Medium devices (768px and below) */
@media (max-width: 768px) {
  .workHeadingDuration {
    flex-flow: column wrap;
  }

  #content {
    margin-left: 0px;
  }

  .roleContainer {
    justify-content: center;
  }

  .titleRole:hover {
    margin-left: 0;
  }

  .keyResponsi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Cochin, Georgia, Times, 'Times New Roman', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  .rowSkillsInt {
    flex-flow: column wrap;
    justify-content: center;
  }
}

/* Large devices (992px and below) */
@media (max-width: 992px) {
  .workHeadingDuration {
    text-align: center;
    margin-bottom: -13px;
    width: auto;
    gap: 10px;
  }

  .roleContainer {
    justify-content: center;
  }

  .titleRole:hover {
    margin-left: 0;
  }

  .keyResponsi {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace, Cochin, Georgia, Times, 'Times New Roman', serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
  }

  .rowSkillsInt {
    display: flex;
    justify-content: space-around;
  }
}
